<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/bootstrap.superhero.min.css' />-->
    <link rel='stylesheet' href='/stylesheets/simplex/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="/javascripts/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>-->
</head>

<body>